<div{% if rtl %} dir="ltr"{% endif %}>
  <h1>Что такое <a href="{{ url_for('index') }}">searx</a>?</h1>

  <p>
    Searx — это свободная <a href="">метапоисковая система</a>, объединяющая результаты других поисковых систем, 
    но не хранящая информацию о своих пользователях.
  </p>

  <hr />

  <h2>Зачем использовать Searx?</h2>

  <ul>
    <li>
        Searx объединяет в своей поисковой выдаче результаты поиск сразу в 
        нескольких поисковиках: Google, DuckDuckGo и т.д.
    </li>
    <li>
        Searx отсеивает рекламу, предоставляя только результат поиска.
    </li>
    <li>
        Searx никогда не передаст ваши данные третьим лицам, поскольку 
        Searx ни в каком виде не сохраняет информацию о вас.
    </li>
    <li>
        Searx не сохраняет поисковые запросы в истории вашего браузера.
    </li>
    <li>
        Searx предоставляет удобную поисковую выдачу для разработчиков. 
        Любой желающий может запросить результаты поиска в форматах json, csv или rss.
    </li>
  </ul>

  <p>
    Если вы действительно заботитесь о конфиденциальности, хотите быть осознанным 
    пользователем или иным образом верите в цифровую свободу, сделайте Roughs Searx 
    своей поисковой системой по умолчанию.
  </p>

  <h2 id='add to browser'>Как настроить поисковую систему по умолчанию?</h2>

  <p>
    Searx поддерживает <a href="https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md">OpenSearch</a>.
    Дополнительную информацию об изменении поисковой системы по умолчанию 
    вы можете получить из документации вашего браузера: 
  </p>

  <ul>
    <li><a href="https://support.mozilla.org/ru/kb/izmenenie-nastroek-poiska-po-umolchaniyu-v-firefox">Firefox</a></li>
    <li><a href="https://support.microsoft.com/ru-ru/microsoft-edge/%D0%B8%D0%B7%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%BE%D0%B8%D1%81%D0%BA%D0%BE%D0%B2%D0%BE%D0%B9-%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D1%8B-%D0%BF%D0%BE-%D1%83%D0%BC%D0%BE%D0%BB%D1%87%D0%B0%D0%BD%D0%B8%D1%8E-%D0%B2-microsoft-edge-cccaf51c-a4df-a43e-8036-d4d2c527a791">Microsoft Edge</a></li>
    <li><a href="https://support.google.com/chrome/answer/95426?co=GENIE.Platform%3DDesktop&hl=ru">Браузеры на основе Chromium</a></li>
  </ul>

</div>
{% include "__common__/aboutextend.html" ignore missing %}
